@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  --text-color: #213547;
  --bg-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color) !important;
  background-color: var(--bg-color) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #213547;
    --bg-color: #ffffff;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.registerForm {
  @apply text-center items-center text-2xl border-2 p-2 rounded-2xl w-100 m-3;
}