@import "tailwindcss";

* {
  color: #000000 !important;
}

html, body {
  background-color: #ffffff !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #213547 !important;
  background-color: SUA_COR_AQUI !important;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: black;
}

a {
  font-weight: 500;
  color: #646cff !important;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2 !important;
}

.registerForm {
  @apply text-center items-center text-2xl border-2 p-2 rounded-2xl w-100 m-3;
}